In [5]:
import pandas as pd

## Reading data

In [6]:
df = pd.read_csv('finaldataset.csv')

In [7]:
df.head()

,fever,tired,cough,diffBreath,sore_throat,bodyPain,runnyNose,diarreha,age,Infection_probability
0,104,1,1,1,1,1,0,0,1,1
1,100,1,1,1,1,1,0,0,1,1
2,104,1,1,1,1,0,1,1,1,1
3,101,1,1,1,1,0,1,1,1,1
4,99,1,1,1,1,0,1,0,1,1

In [8]:
df.tail()

,fever,tired,cough,diffBreath,sore_throat,bodyPain,runnyNose,diarreha,age,Infection_probability
316795,98,0,0,-1,0,0,0,0,77,0
316796,98,0,0,-1,0,0,0,0,73,0
316797,98,0,0,-1,0,0,0,0,78,0
316798,98,0,0,-1,0,0,0,0,61,0
316799,98,0,0,-1,0,0,0,0,67,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316800 entries, 0 to 316799
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   fever                  316800 non-null  int64
 1   tired                  316800 non-null  int64
 2   cough                  316800 non-null  int64
 3   diffBreath             316800 non-null  int64
 4   sore_throat            316800 non-null  int64
 5   bodyPain               316800 non-null  int64
 6   runnyNose              316800 non-null  int64
 7   diarreha               316800 non-null  int64
 8   age                    316800 non-null  int64
 9   Infection_probability  316800 non-null  int64
dtypes: int64(10)
memory usage: 24.2 MB

In [10]:
df['diffBreath'].value_counts()

-1    158400
 0     97177
 1     61223
Name: diffBreath, dtype: int64

In [11]:
df.describe()

,fever,tired,cough,diffBreath,sore_throat,bodyPain,runnyNose,diarreha,age,Infection_probability
count,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000
mean,99.718794,0.500000,0.562500,-0.306746,0.312500,0.363636,0.545455,0.363636,30.711338,0.994318
std,3.011831,0.500001,0.496079,0.774056,0.463513,0.481046,0.497930,0.481046,23.787169,0.075164
min,98.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,98.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,12.000000,1.000000
50%,98.000000,0.500000,1.000000,-0.500000,0.000000,0.000000,1.000000,0.000000,22.000000,1.000000
75%,101.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,51.000000,1.000000
max,108.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,80.000000,1.000000

## tarin test splitting

In [12]:
import numpy as np

In [13]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)* ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [14]:
np.random.permutation(7)

array([2, 3, 5, 1, 0, 6, 4])

In [16]:
train, test = data_split(df, 0.2)

In [17]:
train

,fever,tired,cough,diffBreath,sore_throat,bodyPain,runnyNose,diarreha,age,Infection_probability
125151,107,0,0,-1,0,1,1,0,75,1
36050,104,1,1,0,1,0,1,0,6,1
222457,98,1,1,0,0,0,1,0,42,1
250914,104,1,1,1,0,0,1,0,58,1
296710,98,1,1,-1,0,0,1,0,17,1
...,...,...,...,...,...,...,...,...,...,...
119879,98,1,1,0,0,0,0,0,18,1
259178,98,0,1,-1,0,0,1,0,4,1
131932,98,1,1,-1,0,0,1,0,9,1
146867,98,1,0,-1,0,0,0,0,39,1
121958,98,0,1,-1,0,0,0,0,70,1

In [18]:
test

,fever,tired,cough,diffBreath,sore_throat,bodyPain,runnyNose,diarreha,age,Infection_probability
277936,98,1,1,1,0,0,1,0,68,1
193502,98,0,1,0,0,0,1,1,26,1
92446,104,1,1,0,0,0,1,1,14,1
117607,98,0,0,0,0,0,1,1,18,1
240924,99,1,1,1,1,0,1,1,53,1
...,...,...,...,...,...,...,...,...,...,...
122340,98,0,0,-1,1,0,0,1,76,1
151370,98,1,1,0,0,0,1,0,21,1
288434,103,1,1,1,1,0,0,0,71,1
1619,98,0,1,1,0,0,1,1,1,1
68501,98,1,1,0,1,0,1,0,10,1

In [19]:
x_train = train[['fever', 'tired', 'cough', 'diffBreath', 'sore_throat','bodyPain', 'runnyNose', 'diarreha', 'age']].to_numpy()
x_test = test[['fever', 'tired', 'cough', 'diffBreath', 'sore_throat','bodyPain', 'runnyNose', 'diarreha', 'age']].to_numpy()

In [20]:
y_train = train[['Infection_probability']].to_numpy().reshape(253440, )
y_test = test[['Infection_probability']].to_numpy().reshape(63360, )

In [21]:
y_train

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

## logestic regration for probability

In [22]:
from sklearn.linear_model import  LogisticRegression

In [23]:
clf = LogisticRegression(solver='lbfgs',class_weight='None', max_iter=221760)
clf.fit(x_train, y_train)

LogisticRegression(class_weight='None', max_iter=221760)

In [26]:
infprob = clf.predict_proba([[100,0,0,0,0,0,0,0,22]])[0][1]

In [28]:
infprob

0.999998706657573